<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Angular 2023(新版)</span>
    </a>

    <div hidden class="sidebar" style="background-color: rgb(62, 240, 65); position: absolute;  width: 250px; ">
        <div style="background-color: rgb(196, 240, 62); ">
aaa
        </div> 
    </div>

    <div  class="sidebar">s
        <nav class="mt-2" >
   
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item {{(m.active?'menu-open':'')}}" *ngFor="let m of menus" (click)="onMenuClick(m)">
                    <a class="nav-link {{m.active?'active':''}}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p> {{ m.name }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngFor="let n of m.items" (click)="onItemClick(m,n)">
                            <a [routerLink]="[n.url]" class="nav-link {{n.active?'active':''}}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{ n.name }} </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--<li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>-->
            </ul>
        </nav>

    </div>

</aside>