<div hidden class="box">
  <div class="item item1">item-1</div>
  <div class="item item2">item-2</div>
  <div class="item item3">item-3</div>
  <div class="item item4">item-4</div>
</div>


  
<div hidden id="gg" style="background-color: chartreuse;" >
    <form>
        <fieldset class="fieldsetColored">
          <legend>Personal details</legend>
          <label>Your name:</label> <input name="yourname">
          <label>Your age:</label> <input type="number" name="yourage">
        </fieldset>
      
        <fieldset>
          <legend>Your address</legend>
          <label>Street:</label> <input name="street">
          <label>Zip code / post code:</label> <input name="postcode">
        </fieldset>
      </form>
</div>


