<h5>需要匯入 FormsModule </h5>

<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['tdf-model']">model</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['tdf-variable']">variable</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['tdf-form']">form</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['tdf-model-group']">model-group</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-touched']">form-touched</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-dirty']">form-dirty</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['tdf-required']">required</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['cust-validator']">cust-validator</a></li>
   
  </ul>

 <div style="padding: 20px 10px">
  <router-outlet></router-outlet>
</div> 