<button (click)="onQuery()">Query</button>
<button (click)="onInsert()">Add</button>

<table width="100%">
    <tr>
        <td>編號</td>
        <td>姓名</td>
        <td>性別</td>
        <td>年紀</td>
        <td>修改</td>
        <td>刪除</td>
    </tr>
    <tr *ngFor="let u of users">
        <td>{{u.pid}}</td>
        <td>{{u.name}}</td>
        <td>{{u.sex}}</td>
        <td>{{u.age}}</td>
        <td><button (click)="onUpdate(u)">Update</button></td>
        <td><button (click)="onDelete(u)">Delete</button></td>
    </tr>
</table>

<app-popup-modal #modal modalSize="modal-lg">
    
    <!-- input UI -->
    <app-modal-input #input [modal]="modal" [confirm]="confirm"></app-modal-input>
    
    <!-- input footer -->
    <ng-container footer>
        <button class="btn-grad" (click)="onSubmit()">Submit</button>
        <button class="btn-grad btn-exit" data-bs-dismiss="modal">Exit</button>
    </ng-container>
</app-popup-modal>

<app-popup-confirm #confirm>
    <!-- confirm footer -->
    <ng-container footer>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </ng-container>
</app-popup-confirm>


