/********************************************************************
 https://gradientbuttons.colorion.co/ 
*********************************************************************/
.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 2px;
    padding: 2px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
}
.btn-exit {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
/********************************************************************/


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td > span {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}