<ul>
    <li>
      <a class="navbar-brand" routerLink="/">Home</a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/github/list">GitHub</a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/admin">Admin</a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/about">About</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/contact">Contact</a>
  </li>
  <li>
    <a class="navbar-brand" style="cursor:pointer; color: rgb(15, 151, 151);" (click)="layout=1">主站</a>
  </li>
  <li>
    <a class="navbar-brand" style="cursor:pointer; color: rgb(170, 37, 50);" (click)="layout=3">學習Angular</a>
  </li>

</ul>

<router-outlet></router-outlet>
