<div class="wrapper">
    <div class="left">
        <ul>
            <a [routerLink]="['xxx']" routerLinkActive="active">
                <li>xxx</li>
            </a>
            <a [routerLink]="['xxx']" routerLinkActive="active">
                <li>暫存</li>
            </a>
        </ul>
    </div>

    <div class="content">
        <!--router-outlet></router-outlet-->
        <div class="colx">
            <h6>xx</h6>

        </div>

        <div class="colx">
            <h6>xxx</h6>
        </div>

        <div class="colx">
 
        </div>
        <div class="colx">

        </div>
        <div class="colx">
 
        </div>
        <div class="colx">

        </div>
        
    </div>
</div>