<div class="wrapper">
    <div class="left">
        <ul>
            <a [routerLink]="['xxx']" routerLinkActive="active">
                <li>xxx</li>
            </a>
            <a [routerLink]="['xxx']" routerLinkActive="active">
                <li>暫存</li>
            </a>
        </ul>
    </div>

    <div class="content">
        <!--router-outlet></router-outlet-->
        <form>
            <fieldset>
              <legend>Personal details</legend>
              <label>Your name:</label> <input name="yourname">
              <label>Your age:</label> <input type="number" name="yourage">
            </fieldset>
          
            <fieldset>
              <legend>Your address</legend>
              <label>Street:</label> <input name="street">
              <label>Zip code / post code:</label> <input name="postcode">
            </fieldset>
        </form>          
        
    </div>
</div>