<h5>需要匯入 ReactiveFormsModule </h5>
[響應式表單]著重表單模型的定義, 再由[頁面範本]的表單輸入項去連結對應的表單模型<br/>
重點物件 FormControl/FormGroup/FormArray 配合 rxjs 監控與操作使用者輸入資料 <br/>
再透過 Validator/AsyncValidator 驗證資料
<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-control']">Control</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-group']">Group</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-array']">Array</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-builder']">Builder(o)</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['required']">Required</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['array-empty']">empty(o)</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['decimal-validator']">decimal</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['async-validator']">非同步(x)</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['value-changes']">存取監控</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['set-value']">set-value</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['array-method']">陣列操作</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['set-validator']">set-validator</a></li>
    <li class="nav-item"> <a class="nav-link active" [routerLink]="['form-component']">自訂表單元件(細細研究)</a></li>
  </ul>

 <div style="padding: 20px 10px">
  <router-outlet></router-outlet>
</div> 