.modal-content {

}

.modal-header {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.modal-body {
    padding: 10px;
   
}

.modal-footer {
    background-color:lightgray;
    height: 50px;
    padding: 5px;
}

