<!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
     (click)="onPopup()"> Launch static backdrop modal
</button-->

<!-- Modal (id: staticBackdrop) -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog {{modalSize}} modal-dialog-centered">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{title}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <ng-content> 
                    <!-- 主要內容 UI -->
                </ng-content>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <ng-content select="[footer]">
                    <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Close</button-->
                    <!--button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button-->
                    <!-- 我覺得需要互動才能寫入, button 還是當參數好了, 改成動態產生!!! -->
                </ng-content> 
            </div>
        </div>
    </div>
</div>