.wrap {
    width: 720px;
    height: 300px;
    margin: 40px auto;
    background-color: #789;
}


.a {

    background-color: yellow;
}

.b {
    position: absolute; /* 相對於容器 */
    position: fixed;    /* 相對於瀏覽器 */
    position: relative;    /* 相對於原本位置 */
    position: static;    /* 相對於原本位置 */
    left: 100px;
    top: 10px;
}