ng-valid, ng-invalid, ng-submit, ng-submitted <br/>
DISABLED / VALID / INVALID / PADDING <br/>
submitted 

<form #form="ngForm">
    <div>帳號：<input type="text" name="id" #id="ngModel" ngModel />
      密碼：<input type="password" name="password" #password="ngModel" ngModel />
    </div>
    <div>
      <button type="reset">重設</button>
      <button type="submit">登入</button>
    </div>
  </form>
  <hr />
  <h4>帳號狀態</h4>
  <pre>
  是否曾經修改過：{{ id.dirty | json }}
  是否從未修改過：{{ id.pristine | json }}</pre>
  <hr />
  <h4>表單狀態</h4>
  <pre>
    是否曾經修改過：{{ form.dirty | json }}
    是否從未修改過：{{ form.pristine | json }}</pre>
  