

.w2ui-popup {
    display: none; 
    width: 400px; 
    height: 300px; 
    transition: 0.3s;
    left: calc( (100% - 400px) / 2 ); /* 運算元要有空格 */
    top: calc( (100% - 300px) / 2 ); /* 運算元要有空格 */
}
