<form [formGroup]="frm"><!-- (ngSubmit)="onSubmit()" novalidate-->
<div id="grid" style="float: left; width:100%;">
   
    <div style="grid-area: pid; ">
      <label for="pid">編號</label>
      <input type="text" id="pid" name="pid" formControlName="pid" [readonly]="inputState!=1">
    </div>

    <div style="grid-area: sex; ">
      <label for="sex">性別</label>
      <input type="text" id="sex" name="sex" formControlName="sex">
    </div>
  
    <div style="grid-area: name; ">
      <label for="name">姓名</label>
      <input type="text" id="name" name="name" formControlName="name">
    </div>
  
    <div style="grid-area: age; ">
      <label for="age">年齡 </label>
      <input type="number" id="age" name="age" formControlName="age">
    </div>

    <div style="grid-area: height; ">
      <label for="height">身高 </label>
      <select id="height" name="height" formControlName="height">
        <option *ngFor="let i of nums" [ngValue]="i">{{i}}</option>
        <!--option selected="selected">Saab</option-->
      </select>
    </div>

    <div style="grid-area: weight; ">
      <label for="weight">體種 </label>
      <input type="number" id="weight" name="weight" formControlName="weight">
    </div>

    <div style="grid-area: json; "> {{frm.value | json }} </div>

    <!-- option/select 賦值 [ngValue]="age" -->
</div>
</form>