<!-- (ngSubmit)="onSubmit()" novalidate-->
<form id="grid" [formGroup]="frm" style="float: left; width:100%;" autocomplete="off">
   
    <div style="grid-area: pid; ">
      <label for="pid">編號</label>
      <input type="text" id="pid" name="pid" formControlName="pid" [readonly]="inputState!=1">
    </div>

    <div style="grid-area: sex; ">
      <label for="sex">性別</label>
      <input type="text" id="sex" name="sex" formControlName="sex">
    </div>
  
    <div style="grid-area: name; ">
      <label for="name">姓名</label>
      <input type="text" id="name" name="name" formControlName="name">
    </div>
  
    <div style="grid-area: age; ">
      <label for="age">年齡 </label>
      <input type="number" id="age" name="age" formControlName="age">
    </div>

    <div style="grid-area: height; ">
      <label for="height">身高 </label>
      <select id="height" name="height" formControlName="height">
        <option *ngFor="let i of nums" [ngValue]="i">{{i}}</option>
        <!--option selected="selected">Saab</option-->
      </select>
    </div>

    <div style="grid-area: weight; ">
      <label for="weight">體種 </label>
      <input type="number" id="weight" name="weight" formControlName="weight">
    </div>

    <div style="grid-area: json; "> {{frm.value | json }} </div>

    <!-- option/select 賦值 [ngValue]="age" -->
</form>

<app-popup-dialog #warning [key]="'warning'">
  <!-- header 不需要 -->
  <!-- body -->
  <ng-container>
    <ng-container *ngIf="checkIf('pid').hasError('required')">不可空直</ng-container>
    <!-- hasError('minlength') -->
    <!-- hasError('pattern') -->
  </ng-container>
  <!-- confirm footer -->
  <ng-container footer>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
  </ng-container>
</app-popup-dialog>


<app-popup-dialog #confirm [key]="'confirm'">
  <!-- header 不需要 -->
  <!-- body -->
  <ng-container [ngSwitch]="inputState">
    <ng-container *ngSwitchCase="1">確定新增?</ng-container>
    <ng-container *ngSwitchCase="2">確定修改?</ng-container>
    <ng-container *ngSwitchCase="3">確定刪除?</ng-container>
  </ng-container>
  <!-- confirm footer -->
  <ng-container footer>
      <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </ng-container>
</app-popup-dialog>