建立表單陣列, 為了更容易操作加入 getter <br/>
要注意的是, FormGroup 的 get 回傳基礎型別 AbstractControl (FormControl, FormGroup, FormArray) <br/>
必須轉型 as FormArray
<p style="color:red">沒有綁定到物件?</p>
<div [formGroup]="form">
    <input type="text" formControlName="User" placeholder="工作人員" />
    <div>
      <div formArrayName="Tasks" *ngFor="let control of tasks.controls; let index = index">
        <ng-container>
          <input type="text" placeholder="工作事項" formControlName="Subject" /> <!-- 沒有綁定到物件? -->
          <input type="text" placeholder="工作內容" formControlName="Content" /> <!-- 沒有綁定到物件? -->
        </ng-container>
      </div>
    </div>
  </div>

  <pre>{{ form.value | json}}</pre>

