<h6>表單</h6>  

<div class="content">
    <div class="colx">
        <h6 card1>Template Driven Form</h6>
        <a href="https://stackblitz.com/edit/ng-book-tdf-model" target="_blank">利用 ngModel 指令定義表單模型</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-variable" target="_blank">利用範本參考(#)變數取得表單屬性</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-form" target="_blank">ngForm</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-model-group" target="_blank">ngModelGroup</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-form-touched" target="_blank">touched</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-form-dirty" target="_blank">dirty</a><br/>
    </div>

    <div class="colx">
        <h6 card1>tdf</h6>
        <a href="https://stackblitz.com/edit/ng-book-tdf-required" target="_blank">required</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-length" target="_blank">length</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-email" target="_blank">email</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-number" target="_blank">number</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-pattern" target="_blank">pattern</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-tdf-custom-validator" target="_blank">custom-validator</a><br/>
    </div>

    <div class="colx">
        <h6 card1>Reactive-1</h6>
        <a href="https://stackblitz.com/edit/ng-book-rf-form-control" target="_blank">form control</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-form-group" target="_blank">form group</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-form-array" target="_blank">form array (待研究)</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-form-builder" target="_blank">form builder</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-required" target="_blank">required</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-array-empty" target="_blank">array-empty</a><br/>
    </div>

    <div class="colx">
        <h6 card1>Reactive-2</h6>
        <a href="https://stackblitz.com/edit/ng-book-rf-decimal-validator" target="_blank">decimal-validator</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-async-validator" target="_blank">async-validator</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-value-changes" target="_blank">value-changes</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-set-value" target="_blank">set-value</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-array-method" target="_blank">array-method</a><br/>
        <a href="https://stackblitz.com/edit/ng-book-rf-set-validator" target="_blank">set-validator</a><br/>
    </div>
</div>
